html, body{
    padding: 0;
    margin: 0;
}

.pixel-font{
    font-family: 'Courier', monospace;
    -webkit-font-smoothing : none;
    font-weight: bolder;
}

// Handy for debug
.b-red{
    border: 1px solid red;
}

.w-20px{
    width: 20px;
}

.h-20px{
    height: 20px;
}
